<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c6cde019-4234-4177-83e0-8cec5ab47cfd" name="Launcher" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c6cde019-4234-4177-83e0-8cec5ab47cfdfileName">Launcher</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
