<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ccb31f09-3cd0-4390-b18c-8f6190cbc88e" name="Section-2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ccb31f09-3cd0-4390-b18c-8f6190cbc88efileName">Section-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
